{% assign subject = "notes" %}
{% assign Note = "Libretas de apuntes" %}
{% assign link = "/" %}

{% if page.url contains "Introduccion-biologia/" %}
	{% assign subject = "biology" %}
	{% assign Note = "Apuntes de introducción a la biología" %}
	{% assign link = "/Introduccion-biologia/" %}
{% endif %}
{% if page.url contains "Biologia-celular/" %}
	{% assign subject = "b.celular" %}
	{% assign Note = "Apuntes de introducción a la biología celular" %}
	{% assign link = "/Biologia-celular/" %}
{% endif %}
{% if page.url contains "Biologia-procariontes/" %}
	{% assign subject = "b.procariontes" %}
	{% assign Note = "Apuntes de biología de procariontes" %}
	{% assign link = "/Biologia-procariontes/" %}
{% endif %}
{% if page.url contains "Bioquimica-basica/" %}
	{% assign subject = "bioquimica.b" %}
	{% assign Note = "Apuntes de bioquímica básica" %}
	{% assign link = "/Bioquimica-basica/" %}
{% endif %}
{% if page.url contains "Fisicoquimica-biologica/" %}
	{% assign subject = "fqb" %}
	{% assign Note = "Apuntes de fisicoquímica biológia" %}
	{% assign link = "/Fisicoquimica-biologica/" %}
{% endif %}
		<header class="{{ include.nivel }}" id="HMain">
			<section>
				<a href="{{ site.baseurl }}{{ link }}">
					<span class="Inco">#include</span>
					<span class="Fre">&lt;{{ subject }}&gt;</span>
				</a>
			</section>
			<h4>/* {{ Note }} */</h4>
			{% if include.nivel contains "HOficial" %}
				{% include P-HMultibtn.html destino = link %}
			{% endif %}
		</header>