<div class="btn-multi">
	<input type="checkbox" id="multi-btn" name="multi-btn" />
	<label for="multi-btn" id="lgrande"></label>
	<label for="multi-btn" id="botonsitos">
		<span class="btn btn-circle">
			<a href="{{ site.baseurl }}/" title="Volver a las libretas"><i class="fas fa-graduation-cap icon"></i></a>
		</span>
		<span class="btn btn-circle">
			<a href="{{ site.baseurl }}/Buscador/" title="Buscador de apuntes"><i class="fas fa-search icon"></i></a>
		</span>
		<span class="btn btn-circle">
			<a href="{{ site.baseurl }}{{ include.destino }}" title="Índice de la libreta"><i class="fas fa-book icon"></i></a>
		</span>
		<span class="btn btn-circle"><i class="fas fa-plus icon"></i></span>
		<i class="fas fa-bars icon"></i>
	</label>
</div>