{% assign subject = "" %}
{% assign Note = "" %}

{% if page.url contains "Biology/" %}
	{% assign subject = "biology" %}
	{% assign Note = "Apuntes de biología" %}
{% endif %}

		<header class="{{ include.nivel }}" id="HMain">
			<section>
				<a href="{{ site.url }}/Notes/{{ subject || capitalize }}/">
					<span class="Inco">#include</span>
					<span class="Fre">&lt;{{ subject }}&gt;</span>
				</a>
			</section>
			<h4>/* {{ Note }} */</h4>
			{% if include.nivel contains "HOficial" %}
				{% include P-HMultibtn.html %}
			{% endif %}
		</header>